div.header
    position relative
    width 100%
    height 70px
    background #212121
    padding 0 10px
    box-shadow 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
    box-sizing border-box
    color #fafafa

    > *
        display inline-block
        vertical-align middle

    ul
        padding-left 0
        margin 0
        list-style-type none
        line-height 70px

        li
            list-style-type none
            display inline-block
            padding 0 15px
            height 70px
            cursor pointer
            vertical-align middle

            &:hover
                background-color #616161

        
    img.logo
        height 80%

        &.pointer
            cursor pointer

    .title
        font-size 2rem
        margin 0 30px

    ul.options
        float right

        img
            vertical-align middle
            height 60%